body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F7E15E;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #444;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav a {
    color: #fff;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #555;
}

.nav-button {
    position: relative;
    z-index: 1;
    margin-top: 10px; /* Ajusta según necesidad */
}


main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section h2 {
    margin-top: 0;
    font-size: 1.8em;
}

section p {
    line-height: 1.6;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}

input[type="text"] {
    padding: 10px;
    width: 100%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.recipe-item {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.recipe-item h2 {
    margin: 0;
    font-size: 1.5em;
}

.recipe-item p {
    margin: 5px 0 0;
    line-height: 1.4;
}

.view-button {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.view-button:hover {
    background-color: #555;
}

.logo-image {
    max-width: 150px;
    display: block;
    margin: 0 auto 20px;
    margin-top: 5px;
}
.opiniones-container {
    display: flex;
    justify-content: center;
    margin-top: 10px; /* Ajustar si es necesario */
}

.navigation-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation-links p {
    background-color: #444;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    text-align: center;
    margin: 5px 0; /* Ajustar según sea necesario */
    width: auto; /* Ajustar el ancho según sea necesario */
    max-width: 200px; /* Ajustar el ancho máximo según sea necesario */
}

.navigation-links p:hover {
    background-color: #555;
}
