.ingredientes-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0, 0, 0);
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.ingredientes-container h1 {
  margin-bottom: 20px;
  font-size: 2em;
}

.ingredientes-container p {
  margin-bottom: 20px;
  font-size: 1.2em;
}

.categoria {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.categoria h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  text-align: left;
  flex-grow: 1; /* Esto permite que el texto ocupe todo el espacio disponible a la izquierda */
}

.categoria p {
  font-size: 1.1em;
  text-align: left;
  margin-bottom: 10px;
}

.categoria img {
  width: 100px; /* Ajusta el tamaño de la imagen */
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  margin-left: 15px; /* Espaciado entre el texto y la imagen */
}

.back-button {
  background-color: #444;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.back-button:hover {
  background-color: #555;
}