.perfil-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #ffc15d;
    min-height: 100vh;
}

.perfil-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.perfil-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
}

.image-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.popup-image {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    cursor: pointer;
    object-fit: cover;
}

.popup-image.unselected {
    opacity: 0.5;
}

.popup-image.selected {
    border: 2px solid green;
    opacity: 1;
}

.perfil-details {
    width: 100%;
    max-width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.perfil-details p strong {
    margin-right: 8px; /* Espacio entre la pregunta y la respuesta */
}

.perfil-details p {
    margin: 10px 0;
    text-align: center;
}

.perfil-details input {
    width: calc(100% - 100px);
    padding: 5px;
    margin-right: 10px;
}

.perfil-details button {
    padding: 5px 10px;
    float: right;
}

.back-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.back-button:hover {
    background-color: #0056b3;
}